.background {
  position: absolute;
  width: 375px;
  height: 812px;
  left: 0px;
  top: 0px;

  background: linear-gradient(
    162.3deg,
    #3815a9 11.35%,
    rgba(35, 17, 96, 0.821287) 37.09%,
    rgba(196, 196, 196, 0) 141.22%
  );
}

.greeting {
  position: absolute;
  width: 174px;
  height: 16px;
  left: 27px;
  top: 44px;

  font-family: Avenir LT Std;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;

  color: #ffffff;
}

.container1 {
  position: absolute;
  width: 146px;
  height: 36px;
  left: 33px;
  top: 95px;

  background: #24212f;
  border-radius: 6px;
}

.container1Img {
  position: absolute;
  width: 20px;
  height: 22px;
  left: 41px;
  top: 104px;

  background: #211e2a;
}

.container1Text {
  position: absolute;
  width: 58px;
  height: 9px;
  left: 72px;
  top: 105px;

  font-family: Avenir LT Std;
  font-style: normal;
  font-weight: 800;
  font-size: 10px;
  line-height: 12px;

  color: #ffffff;
}

.container2 {
  position: absolute;
  width: 146px;
  height: 36px;
  left: 205px;
  top: 95px;

  background: #24212f;
  border-radius: 6px;
}

.container2Text {
  position: absolute;
  width: 59px;
  height: 9px;
  left: 242px;
  top: 105px;

  font-family: Avenir LT Std;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;

  color: #ffffff;
}

.container2Img {
  position: absolute;
  width: 31px;
  height: 36px;
  left: 204px;
  top: 95px;

  background: url(./assets/ab6761610000e5eb94fbdb362091111a47db337d.jpg);
  border-radius: 6px;
}

.container3 {
  position: absolute;
  width: 146px;
  height: 36px;
  left: 37px;
  top: 146px;

  background: #24212f;
  border-radius: 6px;
}

.container3Text {
  position: absolute;
  width: 78px;
  height: 9px;
  left: 75px;
  top: 160px;

  font-family: Avenir LT Std;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;

  color: #ffffff;
}

.container3Img {
  position: absolute;
  width: 30px;
  height: 36px;
  left: 37px;
  top: 146px;

  background: url(./assets/ab6761610000e5eb64af9f165deb17914f5a8e95.jpg);
  border-radius: 6px;
}

.musicContainer {
  position: absolute;
  width: 347px;
  height: 52px;
  left: 14px;
  top: 707px;

  background: #443355;
  border-radius: 9px;
}

.musicImg {
  position: absolute;
  width: 49px;
  height: 52px;
  left: 14px;
  top: 707px;

  background: url(./assets/ab67616d0000b273dac1790a979d3ad63c7b8405.jpg);
  border-radius: 9px;
}

.musicName {
  position: absolute;
  width: 25px;
  height: 13px;
  left: 74px;
  top: 719px;

  font-family: Avenir LT Std;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;

  color: #ffffff;
}

.musicArtist {
  position: absolute;
  width: 47px;
  height: 10px;
  left: 74px;
  top: 740px;

  font-family: Avenir LT Std;
  font-style: normal;
  font-weight: bold;
  font-size: 8.5px;
  line-height: 10px;

  color: #ffffff;

  opacity: 0.5;
}

.playMusicFromOtherDevices {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 305px;
  top: 723px;

  background: #443355;
}

.pauseMusic {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 332px;
  top: 723px;

  background: #443355;
}

.bottomNavigationBar {
  position: absolute;
  width: 375px;
  height: 54px;
  left: 0px;
  top: 762px;

  background: #696969;
  border-radius: 9px;
}

.navigatorHome {
  position: absolute;
  width: 46px;
  height: 10px;
  left: 45px;
  top: 791px;

  font-family: Avenir LT Std;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;

  color: #ffffff;
}

.homeIcon {
  position: absolute;
  left: 14.4%;
  right: 80.17%;
  top: 94.95%;
  bottom: 2.71%;
}

.navigatorSearch {
  position: absolute;
  width: 46px;
  height: 13px;
  left: 156px;
  top: 789px;

  font-family: Avenir LT Std;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;

  color: #ffffff;
}

.searchIcon {
  position: absolute;
  left: 44.8%;
  right: 51.64%;
  top: 95.2%;
  bottom: 3.16%;
}

.libraryNavigator {
  position: absolute;
  width: 79px;
  height: 13px;
  left: 259px;
  top: 790px;

  font-family: Avenir LT Std;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;

  color: #ffffff;
}

.libraryIcon {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 287px;
  top: 770px;

  background: #696969;
}
