.songName {
  position: absolute;
  width: 84px;
  height: 13px;
  left: 74px;
  top: 720px;

  font-family: Avenir LT Std;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;

  color: #ffffff;
}


.artist {
  position: absolute;
  width: 1000px;
  height: 9px;
  left: 56px;
  top: 166px;

  font-family: Avenir LT Std;
  font-style: normal;
  font-weight: 800;
  font-size: 7.5px;
  line-height: 9px;
  /* identical to box height */

  color: #ffffff;

  opacity: 0.5;
}

.songImage {
  position: absolute;
  width: 41px;
  height: 41px;
  left: 11px;
  top: 142px;
}

.musicContainer {
  position: absolute;
  width: 347px;
  height: 52px;
  left: 14px;
  top: 708px;

  background: #443355;
  border-radius: 9px;
}


.artist {
  position: absolute;
  width: 160px;
  height: 10px;
  left: 74px;
  top: 741px;

  font-family: Avenir LT Std;
  font-style: normal;
  font-weight: bold;
  font-size: 8.5px;
  line-height: 10px;

  color: #ffffff;

  opacity: 0.5;
}

.artist {
  position: absolute;
  width: 160px;
  height: 10px;
  left: 74px;
  top: 741px;

  font-family: Avenir LT Std;
  font-style: normal;
  font-weight: bold;
  font-size: 8.5px;
  line-height: 10px;

  color: #ffffff;

  opacity: 0.5;
}

.songImage {
  position: absolute;
  width: 49px;
  height: 52px;
  left: 14px;
  top: 708px;

  border-radius: 9px;
}